body {
    background-color: rgb(6, 79, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.bTEXT{
    text-align: center;
    margin: 15px;
}
.submit{
    display: flex;
    justify-content: center;
}

.mainTable{
    background-color: rgb(253, 255, 252);
    border-radius: 25px;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border-radius: 5px;
    transition-duration: 0.4s;
    margin: 17px;
    font-size: 20px;
    background-color: rgb(253, 255, 252);
    border: 2px solid rgb(6, 79, 136);
}
.btn:hover{
    box-shadow: 0 10px 12px 0 rgba(4, 55, 94, 0.499);
    background-color: rgb(6, 79, 136);
    color: rgb(253, 255, 252);
}
.pozn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    transition-duration: 0.4s;
    margin: 17px;
    font-size: 20px;
    border: 2px solid rgb(6, 79, 136);
    border-radius: 5px;
}
.submit:hover{
    box-shadow: 0 10px 12px 0 rgba(4, 55, 94, 0.499);
}