<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/649388f87f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <div class="mainTable">
            <h1 class="bTEXT">Výsledky běh Kolem Teplic</h1>
            <div class="btns">
                <a href="/pridat"><button class="btn">Přidej zavodnika</button></a>
                <a href="/prijmeni"><button class="btn">Seřazení podle příjmení</button></a>
                <a href="/cas"><button class="btn">Seřazení podle času</button></a>
            </div>
            <h2 class="bTEXT">Výsledky:</h2>
            <div class="table">
                <table>
                    <tr>
                        <th>Číslo</th>
                        <th>Příjmení</th>
                        <th>Jméno</th>
                        <th>Čas</th>
                    </tr>
                    {% for zavodnik in vysledky %}
                    <tr>
                        <td>{{ zavodnik[0] }}</td>
                        <td>{{ zavodnik[1] }}</td>
                        <td>{{ zavodnik[2] }}</td>
                        <td>{{ zavodnik[3] }}</td>
                        <td><a class="btns" href="/smazani/{{zavodnik[0]}}"><i class="fa-solid fa-trash-can"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>      
        </div>  
    </div>
    
</body>
</html>